<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body bgcolor="#e3f2fd">
    <% include ../partials/nav.ejs %>
    <div class="row">
        <div class="col s4 offset-s4">
          <div class="card blue">
            <div class="card-content white-text">
              <span class="card-title">Welcome</span>
              <p>Welcome to Phase Blueshift. A simple web application for planning out your monthly budget.</p>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
